<!DOCTYPE html>
<html>
<head>
    <div class = "body1" style="background-image: url({{url_for('static',filename='images/photo.jpg') }}); opacity: .2;">
    <title>Francisca's shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='final.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hind:wght@300&family=Kalam:wght@300&family=Pacifico&display=swap" rel="stylesheet">
    </div>
</head>
<body>




      <div class="thanks">Thank you for choosing us!</div>

      <div class="About">
        <p> Since 2017, Francisca's shop has been one of the best clothing shops in Ghana</p>
        <br></br>
        <p>Our services:</p>

        <li style="list-style:disc;">wholesale</li>
        <li style="list-style:disc;">retails</li>
        <li style="list-style:disc;">deliveries</li>
        <li style="list-style:disc;">and many more!</li>
        <br></br>

        <p>Want a glamorous dress to catch the eye of everyone at that dinner? We got you!</p>
        <br></br>
        <p>Check out our beautiful products in stock in the menu, and make a choice!!!</p>
     </div>

</body>
</html>