<!DOCTYPE html>

<html lang="en">

<head>
  <div class = "body1" style="background-image: url({{url_for('static',filename='images/contact-back.jpeg') }}); opacity: .1;">
    <title>Francisca's shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='final.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hind:wght@300&family=Kalam:wght@300&family=Pacifico&display=swap" rel="stylesheet">
  </div>
</head>


<body>
  <main>

       <div class="contact1">
        <div>
          <img src="static/images/email.jpeg" alt="hiii" width="10" height="10"><li class="email" style="list-style:disc;">usus@gmail.com</li>
        </div>
        <br></br>
        <div>
          <img src="static/images/phone.jpeg" alt="hiii" width="120" height="120"><li class="phone" style="list-style:disc;">+1 111 222 3333</li>
        </div>
        <br></br>
        <div>
          <img src="static/images/loc.jpeg"  alt="hiii" width="150" height="150"><li  class="loc" style="list-style:disc;">New Haven, CT</li>
        </div>
        <br></br>
        <div>
          <img src="static/images/loc.jpeg"  alt="hiii" width="150" height="150"><li  class="loc" style="list-style:disc;">New Haven, CT</li>
        </div>
      </div>
      <br></br>
      <div>
      <p class="mapwords">
        check navigation bar for maps & social medium:)
      </p>
      <br></br>
      <p class="regards">See you soon!</p>
      </div>
    </main>
  </body>


</html>
      <!-- We are a <a href="/about/about_team.htm">team</a> of professionals working
      hard to provide free learning content. -->