
{% extends "layout.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}




   <div>
    <div class="parent">
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1H7BC87qPwil42AgXRZY_MuUFVYRxcuqh">
        <h3>$200</h3>
     </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1sV3fED3jawRHFBsEyJ3WU8RQ7w2bOAL5">
        <h3>$134</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1P7qz_0TjBV-wl1vo6r3QBRGwGyYuBQic">
        <h3>$540</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1eVuKlaMczTCCiEt5JWfKw_uP50ymZSFG">
        <h3>$321</h3>
      </div>
    </div>

    <div class="parent">
      <div>
        <img src="https://drive.google.com/uc?export=view&id=199sKD2B5_y1uKp_a2fi7yMAN1aR7U9gu">
        <h3>$776</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1SZkEj2wqLZLxa5vZtVPsZ2c3uHt3quHT">
        <h3>$1356</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1EWSDtslxUBUlWferUUotgHA-zNY_-S7i">
        <h3>$583</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1cnEvTIuJq-WGziWLzQfREj430EZlZOfw">
        <h3>$345</h3>
     </div>
    </div>

     <div class="parent">
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1HIPy8hAtDvy-iHxMxiuMjeTc-vjgiOEW">
        <h3>$674</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1EDsq3SQ7wxv-6e6TE37G10CcpOF_nN-H">
        <h3>$445</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1uI3_aofXKEBguRpsYvoPmP6Rq73VnS37">
        <h3>$200</h3>
      </div>
      <div>
        <img src="https://drive.google.com/uc?export=view&id=1-Gpk1JF3mt2QTEoCZonHwXAig10lj4nX">
        <h3>$789</h3>
     </div>
 </div>

 <div class="parent">
  <div>
    <img src="https://drive.google.com/uc?export=view&id=199CKcTh6NM0aCHfUZnYBUkDF3iC1Ye09">
    <h3>$529</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1_vhj1xMvDJbb-qi92Vt3Yn9VpD7G0Y0l">
    <h3>$1778</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1_6kSlspBxsUcbYdHBnseJXtyurrcOEBT">
    <h3>$675</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1K3A6hikPEz8aHoPjdkHwqCUpGM-XFId-">
    <h3>$208</h3>
 </div>
</div>

<div class="parent">
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1z9VsSfxSVZ1IJ_sNeEyz6yoCboFPjtsO">
    <h3>$232</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=13901RdQobzWK2eKWk-FY9Zk1bBoJdpZh">
    <h3>$240</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1oCnsr47BqH_-F1U3wjgNJveqeROM7mg7">
    <h3>$400</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=16zRRasiTgPXvajMwmStJIksGm0eQ0EIH">
    <h3>$203</h3>
 </div>
</div>

<div class="parent">
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1Lvgy4qU3Iqgh2S7SzQB2r4nlgGQDseKD">
    <h3>$576</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1Nd3Ae_c47GjIQtcztTKtQwvvBnILoPHd">
    <h3>$764</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1cQq9B0V7BK8MptH5nCXJt1XXxtnBV-Yu">
    <h3>$684</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1jKagBOJjxx9hZJqnB7wlXb1KGi4caZyq">
    <h3>$456</h3>
 </div>
 </div>

 <div class="parent">
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1ws290R1pr907zBqbhTfOhpAhKJd3HKSa">
    <h3>$874</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1HXgXdClVZANRb6qRvBQQIA4nRpZzO1U4">
    <h3>$456</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1xxv_RhQt8ubaPAnjEpgeCt2PbI9hbOx3">
    <h3>$878</h3>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1sV3fED3jawRHFBsEyJ3WU8RQ7w2bOAL5">
    <h3>$200</h3>
 </div>
 </div>


{% endblock %}
